// Page builder accordion and/or FAQs overrides

// Page builder accordion and/or FAQs overrides

.vc_toggle {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 7.5px;
    background: $light-blue;

    @include bp-md {
        padding-left: 50px;
        padding-right: 50px;
    }

    .vc_toggle_title {
        padding-left: 0 !important;
        padding-right: 60px !important;
        transition: color 0.3s;

        h4 {
            font-size: 14px !important;
            line-height: 24px !important;
            font-family: $font1;
            font-weight: 700 !important;

            @include bp-md {
                font-size: 18px !important;
                line-height: 28\px !important;
            }
        }

        .vc_toggle_icon {
            height: 45px !important;
            width: 45px !important;
            left: auto !important;
            right: 0 !important;
            background: $green;
            border-radius: 50%;
            border: none;
            transition: background 0.3s;
            position: relative;

            &:before {
                content: $icon-chevron-down;
                font-family: 'icons';
                font-style: normal;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:before,
            &:after {
                height: 16px !important;
                width: 16px !important;
                border: none !important;
                color: #fff;
                background: transparent;
                transition: transform 0.35s;
                transition-timing-function: ease-out;
            }
        }

        &:hover {
            .vc_toggle_icon {
                background-color: $highlight;
                // &:before, &:after {
                // 	transform: translate(-50%,-50%) rotate(90deg) !important;
                // }
            }
        }
    }

    .vc_toggle_content {
        padding-left: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 0 !important;
        padding-top: 35px;
        padding-bottom: 20px;
        border-top: 2px solid $gray;

        @include bp-md {
            margin-right: 80px;
        }

        p,
        ul:not(.list-inline):not(.list-unstyled),
        ol {
            @include fluid-value(font-size, 14px, 16px);
            @include fluid-value(line-height, 20px, 28px);
            font-family: $font1;
        }
    }

    &.vc_toggle_active {
        .vc_toggle_title {
            .vc_toggle_icon {
                background-color: $highlight;

                &::after {
                    font-style: normal;
                    font-family: $icons;
                    content: $icon-close;
                    visibility: visible;
                }
            }
        }
    }

    .no-js & {
        .vc_toggle_content {
            display: block;
        }
    }
}
