.general-nwh-banner {
    width: calc(100% - 30px);
    a {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        @include bp-lg {
            display: inline-block;
        }
    }
}

.emergency-banner {
    margin-top: -200px;
    margin-bottom: 0;
    background: $red;
    color: #fff;
    padding: 60px 60px 45px;
    text-align: center;
    position: relative;

    i {
        display: inline-block;
        margin: 0 auto 10px;
        background: #fff;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        color: $red;
        @include font-size(50px);

        &::before {
            @include font-size(38px);
        }
    }
}
