.breadcrumbs {
    @include font-size(12px);
    line-height: pxtorem(14px);
    text-transform: uppercase;
    font-family: $font1;
    font-weight: bold;
    margin-bottom: 10px;

    a {
      color: $blue;
      text-decoration: underline;
    }

    &__divider {
        padding: 0 7px;
    }
}