// Global button styles
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
.btn {
    display: inline-block;
    border: 2px solid $dark-blue;
    border-radius: 25px;
    padding: 14px 45px;
    color: #fff;
    @include font-size(12px);
    line-height: pxtorem(16px);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $dark-blue;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        color: #fff;
        background-color: $green;
        border-color: $green;
        outline: none;
    }
}

.btn {
    margin-bottom: 15px;
    @include bp-lg {
        margin-bottom: 0;
    }

    &--blue {
        background-color: $blue;
        border-color: $blue;
        color: #fff;

        &:hover,
        &:focus {
            background-color: #fff;
            border-color: #fff;
            color: $blue;
        }
    }

    &--white {
        background-color: #fff;
        border-color: #fff;
        color: $dark-blue;

        &:hover,
        &:focus {
            background-color: $dark-blue;
            border-color: $dark-blue;
            color: #fff;
        }
    }
}

button {
    &.load-more,
    &.hrn-load-more {
        background: transparent;
        border: none;
        border-radius: 0;
        color: $black;
        @include font-size(16px);
        line-height: pxtorem(28px);
        padding: 0;
        text-transform: none;
        position: relative;
        display: inline-block;
        text-decoration: none !important;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: calc(100% - 22px);
            right: 0;
            bottom: 0px;
            height: 2px;
            background: $green;
        }

        i {
            @include font-size(12px);
            display: inline-block;
            margin-left: 10px;
            color: $green;
            font-weight: normal;
        }

        &:hover {
            &::after {
                display: none;
            }
        }
    }
}
