.site-footer {
    background: $dark-blue;
    color: #fff;
    border-bottom: 10px solid $green;
    padding-top: 70px;
    padding-bottom: 70px;
    @include bp-lg {
        padding-top: 100px;
        padding-bottom: 0;
    }

    a {
        color: #fff;

        &:hover,
        &:focus {
            color: $green;
        }
    }

    &__social-links {
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            margin-bottom: 18px;

            a {
                @include font-size(14px);
            }
        }
    }

    &__form {
        position: relative;
        margin-bottom: 10px;

        input {
            margin-bottom: 0;
            background: rgba(255, 255, 255, 0.1);
            color: #fff;

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 0;
            width: 36px;
            padding: 0;
            background: $green;
            border: none;

            i {
                color: $dark-blue;
            }
        }

        &-description {
            margin-bottom: 60px;
        }
    }

    &__main {
        .h6 {
            @include font-size(14px);
        }
    }

    &__logos {
        display: block;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 60px;

        svg {
            max-width: 80px;
            max-height: 80px;
            width: inherit;
        }

        @include bp-lg {
            text-align: left;
            svg {
                max-width: 100px;
                max-height: 100px;
            }
        }

        @include bp-xl {
            svg {
                max-width: 125px;
                max-height: 125px;
            }
        }

        a {
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__sub {
        text-align: center;
        @include font-size(14px);

        @include bp-lg {
            text-align: left;
            display: flex;
            justify-content: space-between;
        }

        p {
            margin-bottom: 10px;
        }
    }

    &__sub-menu-container {
        @include bp-lg {
            display: flex;
        }
    }

    &__contact {
        a {
            margin-bottom: 5px;

            &:last-child {
                display: block;
            }

            @include bp-md {
                display: inline;

                &:last-child {
                    margin-left: 20px;
                    display: inline;
                }
            }
        }
    }
}

.footer-menu {
    padding: 0;
    margin: 0;

    &__item {
        list-style-type: none;
        margin-bottom: 18px;

        a {
            @include font-size(14px);
            line-height: pxtorem(14px);
        }
    }
}

.footer-sub-menu {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    display: inline-block;

    &__item {
        list-style-type: none;
        margin-top: 2px;
        padding: 0 15px;
        display: inline-block;
        border-right: 1px solid #fff;

        &:last-child {
            border: none;
        }
    }
}
