.header {
  position: fixed; // For when JS is not active
  top: 0;
  z-index: 50;
  width: 100%;
  transition: all 0.3s ease;
  background: $dark-blue;
  border-top: 8px solid $green;
  color: #fff;
  min-height: 105px;
  @include bp-lg {
    padding-top: 10px;
  }

  [class^='icon-'] {
    color: inherit;
  }

  &__inner {
    display: flex;
    align-items: center; // Vertical align all items
    justify-content: flex-end; // Horizontally align items
    overflow: visible;
    position: relative;
  }

  // Logo
  &__brand {
    display: block;
    position: absolute;
    top: -18px;
    left: 30px;
    z-index: 6;
    @media (min-width: 1300px) {
      left: 0;
    }

    img {
      width: 144px;
      @include bp-lg {
        width: 168px;
        height: 135px;
      }
    }
  }

  // Navigation
  &__navigation {
    display: none;
    text-align: right;
    @include bp-lg {
      display: inline-block;
      flex-grow: 1;
    }

    .main-menu {
      padding: 0;
      margin: 0;

      &__item {
        list-style-type: none;
        display: inline-block;
        padding: 20px 0 35px;
        margin-left: 25px;
        margin-right: 25px;

        &:hover {
          .main-menu__sub-menu {
            opacity: 1;
            visibility: visible;

            &__item {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 40px;
            left: 0;
            bottom: 0;
          }
        }

        &--active,
        &--parent--active,
        &--ancestor--active {
          border-bottom: 4px solid $green;

          li {
            border: none;
          }

          .main-menu__link {
            color: #fff;
            opacity: 0.3;
          }
        }

        &--main-item {
          padding: 0;

          > a,
          > ul {
            flex: 0 0 100%;
            padding-left: $spacing;
            padding-right: $spacing;
          }

          > a {
            margin-bottom: 20px;
          }

          > ul {
            @include bp-lg {
              flex: 0 0 55%;
              max-width: 55%;
            }
          }

          &.main-menu__item--resources-sub-item {
            flex: 0 0 100%;
            max-width: 100%;
            @include bp-lg {
              flex: 0 0 33%;
              max-width: 33%;
            }

            > a,
            > ul {
              display: block;
              flex: 0 0 100%;
              max-width: 100%;
            }

            .main-menu__sub-menu--2__item {
              margin-bottom: 10px;
            }
          }

          > a {
            @include fluid-value(font-size, 20px, 32px);
            @include fluid-value(line-height, 24px, 38px);
            font-family: $font2;
            font-weight: normal;

            span:first-child {
              position: relative;
              display: inline-block;
              color: inherit !important;
              text-decoration: none !important;

              &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                right: 0;
                bottom: 0px;
                height: 2px;
                background: $green;
              }

              &:hover,
              &:focus {
                color: #fff;
                text-decoration: none;
                &::after {
                  display: none;
                }
              }
            }
            @include bp-lg {
              flex: 0 0 45%;
              max-width: 45%;
            }
          }

          span {
            display: block;
            color: #fff;
            &:hover,
            &:focus {
              color: #fff;
            }
          }
        }

        .featured-resources-container {
          flex: 0 0 100%;
          padding-left: $spacing;
          padding-right: $spacing;

          @include bp-lg {
            flex: 0 0 67%;
            max-width: 67%;
          }
        }
      }

      &__link {
        color: #fff;
        @include font-size(14px);
        font-weight: bold;

        &:hover,
        &:focus {
          color: #fff;
          opacity: 0.6;
        }

        &__description {
          margin-top: 25px;
          @include font-size(14px);
          font-weight: normal;
          font-family: $font1;
          line-height: pxtorem(24px);
          text-decoration: none !important;
          display: inline-block;
        }
      }

      &__sub-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        padding: 10px 0;
        list-style-type: none;
        z-index: 5;
        background: $darker-blue;
        text-align: left;
        transition: opacity 0s ease-out;

        .container {
          margin-right: 0;
          padding-top: 60px;
        }

        &__item {
          padding: 0;
          opacity: 0;
          transform: translateY(-3px);
          transition: opacity 0.3s ease-out, transform 0.3s ease-out;

          @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
              transition-delay: (#{$i * 0.075s});
            }
          }
        }

        &__link {
          display: inline-block;
          color: #fff;
          @include font-size(16px);
          font-weight: bold;

          &:hover,
          &:focus {
            color: $highlight;
          }
        }

        &--1 {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          padding-bottom: 70px;
        }

        &--2 {
          padding-top: 0;

          &__item {
            margin-bottom: 32px;
          }

          &__link {
            position: relative;
            display: inline-block;
            color: inherit !important;
            text-decoration: none !important;
            color: #fff;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              width: 100%;
              right: 0;
              bottom: 0px;
              height: 2px;
              background: $green;
            }

            &:hover,
            &:focus {
              text-decoration: none;
              color: #fff;
              &::after {
                display: none;
              }
            }
          }
        }

        &--3 {
          padding-top: 15px;
          padding-bottom: 0;
          padding-left: 10px;

          &__item {
            margin-bottom: 8px;
          }

          &__link {
            font-weight: normal;
            @include font-size(14px);
          }
        }
      }
    }

    .secondary-menu {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;

      &__item {
        @include font-size(13px);
        list-style-type: none;
      }

      &__link {
        color: #fff;
        font-weight: bold;

        &:hover,
        &:focus {
          color: #fff;
          opacity: 0.6;
        }
      }
    }
  }

  &__primary-navigation {
    display: inline-block;
  }

  .hrn-link {
    @include font-size(13px);
    font-weight: bold;
    margin-left: 35px;
    color: $green;
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    .hrn-icon {
      font-style: normal;
      margin-left: 5px;
      &::before {
        font-family: 'icons';
        content: $icon-pin;
      }
    }

    &--emergency {
      background: $red;
      padding: 5px 10px;
      border-radius: 15px;
      color: #fff;
      .hrn-icon {
        &::before {
          content: $icon-alert;
        }
      }

      &:hover,
      &:focus {
        opacity: 1;
        background: #fff;
        color: $red;
      }
    }
  }

  // Search
  &__search {
    @include bp-lg {
      display: none;

      & > div {
        display: inline-block;
      }
    }
  }

  // Search form
  &__search-form {
    flex-grow: 1;
    min-width: 700px;

    input[type='text'] {
      width: 100%;
      margin: 0;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      @include font-size(25px);
      background-color: transparent;
      transition: all ease 0.3s;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: rgba(#fff, 0.5);
      }

      &:-ms-input-placeholder {
        color: rgba(#fff, 0.5);
      }

      &:-ms-input-placeholder {
        color: rgba(#fff, 0.5) !important;
      }

      &::placeholder {
        color: rgba(#fff, 0.5);
      }
    }
  }

  &__search-button {
    color: #fff;
    margin-right: 25px;

    i {
      display: inline-block;
      margin-top: 3px;
      @include font-size(15px);
    }

    &:hover,
    &:focus {
      color: #fff;
      opacity: 0.6;
    }
  }

  // Search close button
  &__search-close {
    display: inline-block;
    cursor: pointer;
  }

  &__donate {
    text-transform: initial;
    @include font-size(14px);
    padding: 10px 30px;
  }

  &__nav-icon {
    @include font-size(22px);
    margin-top: 35px;
    color: $green;
    width: 32px;
    text-align: center;
    @include bp-lg {
      display: none;
    }
  }

  &--search-active {
    .header {
      &__search {
        display: inline-block;
      }

      &__primary-navigation {
        display: none;
      }

      &__search-button {
        i {
          &::before {
            content: $icon-close;
          }
        }
      }
    }
  }

  // No JavaScript
  .no-js & {
    position: absolute;
  }
}

// No Masthead or Scroll-triggered
.no-masthead,
.scroll-triggered {
  .header {
    padding-top: 0;
    background-color: #fff;
  }

  a,
  .header__search-form input[type='text'] {
    color: $text2;
  }
}

/**
 * No Masthead & Scrolled
 */
.no-masthead header.banner,
.scroll-triggered header.banner {
  background-color: #fff;

  a,
  #header-search form.searchform input[type='text'] {
    color: $text2;
  }

  #header-search form.searchform input[type='text'] {
    &::-webkit-input-placeholder {
      color: $text2;
    }

    &:-ms-input-placeholder {
      color: $text2;
    }

    &::placeholder {
      color: $text2;
    }
  }

  .brand svg path {
    fill: initial;
  }
}
