.list-item-post,
.list-item-event {
    padding-bottom: 15px;
    margin-bottom: 45px;
    border-bottom: 1px solid $stroke;

    &__title {
        margin-bottom: 10px;
    }

    &__author {
        margin-top: 10px;
    }

    &__content {
        span.icon-offsite,
        span.icon-download {
            @include font-size(16px);
            display: inline;
            margin-left: 10px;
            color: $green;
            font-weight: normal;
        }
    }
}

.list-item-post {
    &__title {
        a {
            text-decoration: none;

            span {
                text-decoration: underline;
                text-decoration-color: $green;
            }

            .icon-offsite,
            .icon-download {
                text-decoration: none;
            }

            &:hover,
            &:focus {
                text-decoration: none;

                span {
                    text-decoration: underline;
                }

                .icon-offsite,
                .icon-download {
                    text-decoration: none;
                }
            }
        }
    }
}

.list-item-event {
    .column.lg-25 {
        display: flex;
    }

    &__entry-meta {
        flex-grow: 1;
        position: relative;
    }

    &__county {
        margin-top: 15px;

        @include bp-lg {
            position: absolute;
            bottom: 0;
        }
    }
}

.list-item-related-post {
    margin-bottom: 45px;

    .post-label {
        margin-bottom: 10px;
    }

    &__title {
        @include fluid-value(font-size, 14px, 18px);
        @include fluid-value(line-height, 24px, 28px);
        font-family: $font1;
        font-weight: bold;

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $highlight;
            }
        }
    }

    &__content {
        span {
            @include font-size(16px);
            display: inline-block;
            margin-left: 10px;
            color: $green;
            font-weight: normal;
        }
    }
}

.list-item-person {
    margin-bottom: 45px;

    &__image {
        display: block;
        margin-bottom: 25px;
    }

    &__title {
        @include fluid-value(font-size, 14px, 18px);
        @include fluid-value(line-height, 24px, 28px);
        font-family: $font1;
        font-weight: bold;
        margin-bottom: 0;

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    &__job-title {
    }
}

.list-item-resource {
    border-bottom: 2px solid $stroke;
    padding-bottom: 25px;
    margin-bottom: 25px;

    .post-label {
        margin-bottom: 14px;
    }

    &__image {
        img {
            border: 1px solid $gray;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__entry-meta {
        margin-bottom: 60px;
    }

    &__download {
        text-decoration: underline;
        text-decoration-color: $highlight;
        color: $black;
        font-weight: bold;

        &::after {
            width: calc(100% - 22px);
        }

        span {
            @include font-size(12px);
            display: inline-block;
            margin-left: 10px;
            color: $green;
            font-weight: normal;
        }
    }
}

.list-item-network-location {
    margin-bottom: 60px;
    &__content {
        padding-left: 25px;
    }
    &__title {
        position: relative;
        @include fluid-value(font-size, 14px, 18px);
        @include fluid-value(line-height, 24px, 28px);
        font-weight: bold;
        font-family: $font1;
        margin-bottom: 2px;

        &::before {
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            top: 8px;
            left: -20px;
            border-radius: 50%;
            background: $dark-blue;
        }
    }

    &__address {
        margin: 0;
        white-space: pre;
    }

    &__divider {
        display: inline-block;
        width: 100px;
        height: 1px;
        border: 2px solid $dark-blue;
        border-radius: 10px;
        background: $dark-blue;
        margin-top: 15px;
        margin-bottom: 12px;
    }

    &__label {
        font-weight: bold;
        margin: 0;
    }

    &__hours {
    }

    &--meal-program {
        .list-item-network-location {
            &__title {
                &::before {
                    background: $network-orange;
                }
            }

            &__divider {
                background: $network-orange;
                border-color: $network-orange;
            }
        }
    }

    &--warehouse {
        .list-item-network-location {
            &__title {
                &::before {
                    background: $network-green;
                }
            }

            &__divider {
                background: $network-green;
                border-color: $network-green;
            }
        }
    }
}

.list-item-featured-post {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 60px;
    }

    .post-label {
        margin-bottom: 10px;
    }

    &__date {
        color: rgba(43, 43, 43, 0.5);
    }

    &__title {
        a {
            text-decoration: none;

            span {
                text-decoration: underline;
                text-decoration-color: $green;
            }

            .icon-offsite,
            .icon-download {
                text-decoration: none;
            }
        }
    }

    &__content {
        .icon-offsite,
        .icon-download {
            @include font-size(16px);
            display: inline;
            margin-left: 10px;
            color: $green;
            font-weight: normal;
        }
    }
}

.list-item-featured-resource {
    margin-bottom: 25px;
    transition: all 0.3s ease-out;

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            transition-delay: (#{$i * 0.1s});
        }
    }

    &__image {
        display: block;
    }

    &__title {
        a {
            color: #fff;
            text-decoration: none;

            &:hover,
            &:focus {
                color: #fff;
                text-decoration: none;
                opacity: 0.7;
            }
        }
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;

        .column {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.featured-post {
    position: relative;
    margin-top: -200px;
    @extend .text-white;

    @include bp-lg {
        margin-top: -300px;
    }
    &__inner {
        padding: 15px;
        background-color: $dark-blue;

        @include bp-md {
            padding: 60px;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    &__content {
        padding-top: 15px;
        padding-bottom: 60px;
        position: relative;
        flex-grow: 1;

        @include bp-md {
            padding-top: 60px;
        }
    }

    &__post-label.post-label {
        margin-bottom: 25px;
    }

    .entry-meta {
        position: absolute;
        bottom: 0;
        left: 0;

        p {
            @include font-size(12px);
            margin-bottom: 0;
        }
    }

    &__image {
        display: block;
    }

    a {
        text-decoration-color: $green !important;

        &:hover {
            color: $green !important;
            opacity: 1 !important;
        }
    }

    .entry-meta {
        time {
            color: #fff;
        }
    }

    &--has-img {
        .featured-post {
            &__inner {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                @include bp-lg {
                    background-size: 300%;
                }

                > * {
                    position: relative;
                }

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(43, 43, 43, 0.9);
                }
            }
        }
    }
}
