.visceral-tickers {
    h1 {
        @include font-size(48px);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font2;
    }
}

.ticker {
    @include font-size(48px);
    font-family: $font2;
}
