.entry-meta {
    @include font-size(12px);
    line-height: pxtorem(16px);

    p {
        @include font-size(12px);
        line-height: pxtorem(16px);
    }

    &__author {
        color: $black;
        @include font-size(12px);
        line-height: pxtorem(16px);
        margin-bottom: 0;

        a {
            color: $black;
        }
    }

    time {
        color: rgba(43, 43, 43, 0.5);
        margin-top: 10px;
        display: inline-block;
    }

    &__county {
        margin-bottom: 0;
        margin-top: 30px;
    }
}
