/**
 * Mobile Navigation
 */
#nav-toggle {
    display: none;

    &:checked ~ .mobile-nav-container {
        // For the fade animation to work properly without a slide we need the following.
        // - z-index, height, top, and opacity prevents visual and functional effects.
        // - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
        // - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
        z-index: 49;
        top: 0;
        opacity: 1;
        height: 100vh;
        transition: z-index 0s linear 0s, top 0s linear 0s,
            opacity 0.3s linear 0s, height 0s linear 0s;
        visibility: visible;

        .mobile-nav > ul {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0s;
        }
    }
}

.mobile-nav-container {
    background-color: $dark-blue;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0;
    top: -999999px;
    position: fixed;
    transition: z-index 0s linear 0.3s, top 0s linear 0.3s,
        opacity 0.3s linear 0s, height 0s linear 0.3s;
    backface-visibility: hidden; // Prevents bugs in opacity.transitions
    transform: translate3d(0, 0, 0); // Adds hardware acceleration
    -webkit-backface-visibility: hidden; // Helps prevent animation flickers
    -webkit-perspective: 1000; // Helps prevent animation flickers
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 40px;

    ul {
        width: 100%;
        overflow-y: hidden;
        margin: 40px 0 0;
        padding: 0;
        list-style-type: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    > div > ul {
        margin-top: 120px;

        > li {
            border-bottom: 2px solid $blue;
        }
    }

    .main-menu {
        &__item {
            padding: 25px 0;

            &--menu-item-has-children {
                position: relative;

                i {
                    position: absolute;
                    content: $icon-chevron-down;
                    font-family: $icons;
                    color: $green;
                    @include font-size(14px);
                    right: 0;
                    top: 3px;
                    padding: 30px 0 30px 30px;
                }
            }
        }

        &__link {
            color: $green;
            font-family: $font2;
            @include font-size(18px);
        }

        &__sub-menu {
            margin-top: 10px;

            &__item {
                margin-bottom: 10px;
            }

            &__link {
                color: #fff;
                font-family: $font1;
            }

            &--1 {
                display: none;
                &__item {
                    margin-bottom: 20px;
                }
                &__link {
                    @include font-size(14px);
                    line-height: pxtorem(20px);
                    text-decoration: underline;
                    text-decoration-color: $green;
                    font-weight: bold;
                }
            }

            &--2 {
                padding-left: 20px;
                &__link {
                    @include font-size(14px);
                    line-height: pxtorem(16px);
                    text-decoration: none;
                    font-weight: 400;
                    padding: 0;
                }
            }

            .container {
                padding: 0;
            }
        }
    }

    .secondary-menu {
        li {
            border: none;
            margin-bottom :20px;
        }
        a {
            color: #fff;
            @include font-size(14px);
           
        }
    }

    .hrn-link {
        color: $green;
        @include font-size(14px);
        transition: all 0.3s ease-out;

        &:hover,
        &:focus {
            opacity: 0.6;
        }

        .hrn-icon {
            font-style: normal;
            margin-left: 5px;
            &::before {
                font-family: 'icons';
                content: $icon-pin;
            }
        }

        &--emergency {
            background: $red;
            padding: 5px 10px;
            border-radius: 15px;
            color: #fff;
            .hrn-icon {
                &::before {
                    content: $icon-alert;
                }
            }

            &:hover,
            &:focus {
                opacity: 1;
                background: #fff;
                color: $red;
            }
        }
    }

    .donate {
        display: block;
        width: 100%;
        text-align: center;
        background: $blue;
        border-color: $blue;
        border-radius: 0;
        padding: 40px 35px;

        &:hover,
        &:focus {
            color: #fff;
            background: $blue;
            border-color: $blue;
        }
    }

    .mobile-nav__search-form {
        margin-top: 55px;
        position: relative;

        label {
            font-weight: bold;
            color: #fff;
            margin-bottom: 15px;
        }

        input[type="text"] {
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            color: #fff;
            padding-left: 0;

            &::placeholder {
                color: #fff;
            }
        }

        button {
            position: absolute;
            right: 0;
            padding: 10px;
            background: transparent;
            border: none;

            &:hover, &:focus {
               background: transparent;
            }
        }
    }
}

// &__menu {
// 	opacity                    : 0;
// 	transform                  : translateY(-100%);
// 	transition                 : opacity 0.5s ease 0s, transform 0.5s ease 0.15s;
// 	backface-visibility        : hidden; // Prevents bugs in opacity.transitions
// 	-webkit-backface-visibility: hidden; // Helps prevent animation flickers
//     -webkit-perspective        : 1000; // Helps prevent animation flickers
//     perspective: 1000;
// }

// }
