.slick-dots {
    padding: 0;
    width: 100%;
    text-align: center;

    li {
        list-style-type: none;
        display: inline-block;
        margin: 0 8px;

        button {
            padding: 0;
            font-size: 0;
            line-height: 0;
            width: 7px;
            height: 7px;
            background: rgba(160, 191, 81, 0.4);
            border: none;
            transform-origin: center;
            transition: all 0.3s;

            &:hover {
                background: $green;
            }
        }

        &.slick-active {
            button {
                transform: scale(1.8);
                background: $green;
            }
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: $green;
    border: none;
    z-index: 1;

    @include bp-md {
        height: 64px;
        width: 64px;
    }

    &:hover {
        opacity: 0.7;
    }

    span:first-child {
        display: inline-block;
        transform: rotate(180deg);
    }

    &.slick-next {
        right: 0;

        span:first-child {
            transform: rotate(0deg);
        }
    }
}

.main .homepage-slides {
    margin-top: -300px;

    @include bp-lg {
        margin-top: -375px;
    }

    ul.slick-dots {
        margin-top: -60px;
        position: relative;
    }
}

.homepage-slides-container {
    overflow: visible !important;
}

.homepage-slide {
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 250px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include bp-lg {
        height: 670px;
        padding-right: 80px;
        padding-left: 80px;
    }
}

.visceral-slider {
    .slick-track {
        display: flex;
        align-items: center;
    }
}

.slick-slide.wpb_single_image {
    margin-bottom: 0;
}
