// Colors
$dark-blue: #00334d;
$darker-blue: #002b41;
$blue: #6483a4;
$light-blue: #d7e6ec;
$blue-gray: #eff4f5;
$gray: #d8d8d8;
$light-gray: rgba(43, 43, 43, 0.4);

$teal: #89b0b6;
// $teal: #89b6a0;
$green: #a0bf51;
$red: #ba5f4e;
$network-orange: #cc8154;
$network-green: #40936a;

$black: #2b2b2b;

$highlight: $green;

$text1: $black;
$text2: $black;
$stroke: #d8d8d8;

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$youtube: #cd201f;
