.reveal {
    opacity: 0;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;



	&.revealed {
        opacity: 1;
        transform: none;
    }
    
    .no-js & {
        opacity: 1;
        transform: none;
    }
}

.reveal-down {
    transform: translateY(-20px);
}

.reveal-up {
    transform: translateY(10px);

    &.masthead__image {
        transform: translateY(calc(-50% + 10px));

        &.revealed {
            transform: translateY(-50%);
        }
    }
}

.reveal-delay {
    transition-delay: 1s;
}

.reveal-delay-long {
    transition-delay: 1.5s;
}

.reveal-short {
    transition: all 0.3s;
}