blockquote {
    @include fluid-value(font-size, 24px, 36px);
    @include fluid-value(line-height, 30px, 38px);
    font-family: $font2;
    text-indent: -0.35em;

    p {
        @include fluid-value(font-size, 24px, 36px);
        @include fluid-value(line-height, 30px, 38px);
        font-family: $font2;
        margin-bottom: 0;
        text-indent: -0.35em;
    }

    cite {
        @include font-size(12px);
        line-height: pxtorem(16px);
        text-transform: uppercase;
        font-family: $font1;
        font-weight: bold;
        font-style: normal;
        margin-top: 15px;
    }
}
