h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: $font2;
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;

    &.buffer {
        padding-top: 40px;
    }

    a {
        color: inherit;
        text-decoration: underline;
        text-decoration-color: $highlight;
        text-decoration-thickness: 1px;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

h1,
.h1 {
    @include fluid-value(font-size, 36px, 56px);
    @include fluid-value(line-height, 39px, 60px);
}

.page-title {
    @include fluid-value(font-size, 36px, 56px);
    @include fluid-value(line-height, 39px, 60px);
    font-family: $font2;
    font-weight: normal;

    .home & {
        @include fluid-value(font-size, 46px, 70px);
        @include fluid-value(line-height, 50px, 70px);
    }

    &--small {
        @include font-size(12px);
        line-height: pxtorem(14px);
        text-transform: uppercase;
        font-family: $font1;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

h2,
.h2 {
    @include fluid-value(font-size, 28px, 42px);
    @include fluid-value(line-height, 36px, 46px);
}

h3,
.h3 {
    @include fluid-value(font-size, 22px, 36px);
    @include fluid-value(line-height, 28px, 38px);
}

h4,
.h4 {
    @include fluid-value(font-size, 18px, 28px);
    @include fluid-value(line-height, 20px, 32px);
    margin-bottom: 10px;
}

h5,
.h5 {
    @include font-size(18px);
    line-height: pxtorem(26px);
    margin-bottom: 10px;
}

h6,
.h6 {
    @include font-size(12px);
    line-height: pxtorem(16px);
    text-transform: uppercase;
    font-family: $font1;
    font-weight: bold;
}
