hr {
    border: 2px solid $gray;
    border-bottom: none;
    margin-bottom: 35px;

    &.hr--short {
        border: 2px solid $green;
        border-radius: 10px;
        width: 100px;
    }

    &.hr--short--blue {
        border-color: $blue;
    }
}
