html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    @include font-size(16px);
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: $font1;
    color: $text1;
}
