img,
figure {
    max-width: 100%;
    height: auto;
}
figure {
    img {
        margin-bottom: 15px;
    }
    figcaption {
        @include font-size(12px);
        line-height: pxtorem(14px);
    }
}
img:before {
    display: block;
    content: attr(alt);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 8px;
    background-color: #e6e6e6;
}

svg {
    max-width: 100%;
}

.img-cover {
    // Imitate background-sive: contain; effect with inline images
    // Usage:
    // <div class="img-cover" style="width: 50px; height: 50px;">
    //	<img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
    // </div>
    // IMPORTANT: Adopt height/width from element it's applied to
    position: relative;
    overflow: hidden;
    @include aspect-ratio(1, 1);

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        max-width: none;
        transform: translate(-50%, -50%);
    }

    img.portrait {
        height: auto;
        width: 100%;
    }
}

.img-contain {
    // Imitate background-sive: contain; effect with inline images
    // Usage:
    // <div class="img-cover" style="width: 50px; height: 50px;">
    //	<img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
    // </div>
    // IMPORTANT: Adopt height/width from element it's applied to
    position: relative;
    overflow: hidden;
    -webkit-mask-image:
	/* fix overflow:hidden bug in Chrome/Opera */ url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    img.portrait {
        height: 100%;
        width: auto;
    }
}

.img-circle {
    // Extends .img-cover and adds border radius
    // Usage:
    // <div class="img-circle" style="width: 50px; height: 50px;">
    // <img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
    // </div>
    // IMPORTANT: Adopt height/width from element it's applied to
    @extend .img-cover;
    border-radius: 50%;
    /* fixes overflow:hidden bug in Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    @include aspect-ratio(1, 1);
    img {
        /* fixes border radius bug in Chrome */
        -webkit-clip-path: circle(50%);
    }
}

.image--shrink {
    transform-origin: center;
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: scale(0.95);
    }
}

.ghost-image-bg {
    display: none;
    position: absolute;
    z-index: -1;

    @include bp-lg {
        display: block;
    }

    &--t-r {
        top: -50px;
        right: -50px;
    }

    &--t-l {
        top: -50px;
        left: -50px;
    }

    &--b-r {
        bottom: -50px;
        right: -50px;
    }

    &--b-l {
        bottom: -50px;
        left: -50px;
    }
}
