a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease;
    will-change: color, opacity;
    &:hover,
    &:focus {
        color: $highlight;
        text-decoration: none;
    }
}

.link--underline {
    position: relative;
    display: inline-block;
    color: inherit !important;
    text-decoration: none !important;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        right: 0;
        bottom: 0px;
        height: 2px;
        background: $green;
    }

    &:hover,
    &:focus {
        color: $highlight !important;
        &::after {
            display: none;
        }
    }
}

#main-content {
    p,
    ul,
    ol,
    li,
    blockquote {
        a:not(.btn) {
            color: $blue;
            text-decoration: underline;
            text-decoration-color: $blue;

            &:hover,
            &:focus {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
