.main ul:not(.list-inline):not(.list-unstyled) {
    margin-top: 1em;

    ul {
        margin-top: 1em;
    }
}

.main ul,
.main ol {
    li {
        @include fluid-value(font-size, 16px, 18px);
        @include fluid-value(line-height, 24px, 28px);
        margin-bottom: 10px;
    }
}

.list-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    > li {
        display: inline-block;
        margin-bottom: inherit;
        color: inherit;
    }
}

#main-content .side-bar-list {
    margin-bottom: 60px;
    padding: 0;

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        border-bottom: 2px solid $stroke;
        padding-bottom: 1px;
        margin-top: 20px;
    }

    li a {
        color: $dark-blue;
        text-decoration: none;
        display: block;
        display: flex;
        align-content: center;
        justify-content: space-between;
        font-weight: bold;

        &::after {
            font-family: $icons;
            content: $icon-chevron-right;
            @include font-size(12px);
            line-height: pxtorem(23px);
        }

        &:hover,
        &:focus {
            color: $green;
        }

        &--active {
            color: $stroke;
        }
    }

    li a {
        text-decoration: none;

        &:not(.btn) {
            color: $dark-blue;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $green;
            }

            &.taxonomy-filter__link--active {
                color: $stroke;
            }
        }
    }
}
