p {
    margin: 0 0 30px;
    @include fluid-value(font-size, 16px, 18px);
    @include fluid-value(line-height, 24px, 28px);

    &.small {
        @include font-size(14px);
        line-height: pxtorem(24px);
    }

    .small & {
        @include font-size(14px);
        line-height: pxtorem(24px);
    }
}

#main-content {
    p {
        a:not(.link--underline):not(.btn) {
            text-decoration: underline;
            color: $blue;
        }
    }
}
