table {
    width: 100%;
    @include fluid-value(font-size, 14px, 18px);
    @include fluid-value(line-height, 24px, 28px);
    border: 1px solid $stroke;

    th {
        font-weight: bold;
    }

    th,
    td {
        text-align: left;
        padding: 10px 30px;
        @include bp-lg {
            padding: 20px 40px;
        }

        a {
            text-decoration: underline;
            color: $blue;
        }
    }

    tr {
        border-bottom: 1px solid $stroke;

        &:nth-child(even) {
            background-color: $blue-gray;
        }
    }
}

.drop-sites-mobile {
    display: block;
    @include bp-lg {
        display: none;
    }

    table {
        border: none;

        tr {
            border: none;

            &:nth-child(even) {
                background-color: transparent;
            }
        }

        &:nth-child(even) {
            background-color: $blue-gray;
        }
    }
}
