@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?91zpjy');
  src:  url('fonts/icons.eot?91zpjy#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?91zpjy') format('truetype'),
    url('fonts/icons.woff?91zpjy') format('woff'),
    url('fonts/icons.svg?91zpjy#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e90e";
}
.icon-alert:before {
  content: "\e910";
}
.icon-right-triangle:before {
  content: "\e90d";
}
.icon-circle-chevron-down:before {
  content: "\e903";
}
.icon-circle-close:before {
  content: "\e904";
}
.icon-chevron-left1:before {
  content: "\e906";
}
.icon-more:before {
  content: "\e908";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e90b";
}
.icon-offsite:before {
  content: "\e90c";
}
.icon-email:before {
  content: "\e90f";
}
.icon-filter:before {
  content: "\e905";
}
.icon-pin:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\69";
}
.icon-youtube:before {
  content: "\79";
}
.icon-twitter:before {
  content: "\74";
}
.icon-facebook:before {
  content: "\66";
}
.icon-phone:before {
  content: "\e942";
}
