@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?91zpjy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?91zpjy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?91zpjy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?91zpjy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?91zpjy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav {
  &:before {
    content: $icon-nav; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-right-triangle {
  &:before {
    content: $icon-right-triangle; 
  }
}
.icon-circle-chevron-down {
  &:before {
    content: $icon-circle-chevron-down; 
  }
}
.icon-circle-close {
  &:before {
    content: $icon-circle-close; 
  }
}
.icon-chevron-left1 {
  &:before {
    content: $icon-chevron-left1; 
  }
}
.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-offsite {
  &:before {
    content: $icon-offsite; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}

