$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-nav: "\e900";
$icon-close: "\e90e";
$icon-alert: "\e910";
$icon-right-triangle: "\e90d";
$icon-circle-chevron-down: "\e903";
$icon-circle-close: "\e904";
$icon-chevron-left1: "\e906";
$icon-more: "\e908";
$icon-chevron-right: "\e901";
$icon-chevron-down: "\e902";
$icon-download: "\e90b";
$icon-offsite: "\e90c";
$icon-email: "\e90f";
$icon-filter: "\e905";
$icon-pin: "\e909";
$icon-search: "\e90a";
$icon-linkedin: "\e907";
$icon-instagram: "\69";
$icon-youtube: "\79";
$icon-twitter: "\74";
$icon-facebook: "\66";
$icon-phone: "\e942";

