/**
 * WP Bakery Page Builder
 */

.vc_row-o-equal-height {
    .vc_column-inner > .wpb_wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}

.vc_row.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.vc_section[data-vc-full-width] > .vc_row.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.vc_section.section-overlap {
    z-index: 1;
}

.vc-custom-promo-box {
    margin-bottom: 30px;
    &.long-promo {
        max-height: initial;

        &::before {
            padding-top: 140%;
            z-index: 2;
        }

        .vc-promo-header {
            @include font-size(10px);
            line-height: pxtorem(14px);
            font-weight: bold;
            font-family: $font1;
            text-transform: uppercase;
        }

        .vc-promo-text {
            @extend .h3;
            transition: all 0.3s ease;
        }

        &:hover {
            .vc-promo-text {
                color: $green !important;
            }

            &::before {
                background-color: rgba(#00334d, 0.7);
            }
        }
    }
}

// Magnific Popup
.mfp-close {
    background: transparent;
    border: none;

    &:hover,
    &:focus {
        background: transparent;
        border: none;
    }
}

// CQ Engage
#engage-plugin-434339,
#engage-plugin-435549 {
    background: $green !important;

    .client-font-color,
    .engage-form.container {
        color: $black !important;
    }

    .button {
        background: $dark-blue !important;
        border: 2px solid $dark-blue !important;
        border-radius: 25px !important;
        padding: 14px 45px !important;
        color: #fff !important;
        @include font-size(12px);
        line-height: pxtorem(16px) !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        margin-top: 0 !important;
    }

    input[type='text'] {
        border: 1px solid $dark-blue !important;
        padding: 10px !important;
        font-size: 16px !important;
        height: 45px !important;
        display: inline-block;
        margin-bottom: 15px;
        @include bp-md {
            width: calc(100% - 135px) !important;
        }
    }

    h3 {
        font-family: $font2 !important;
        font-weight: normal;
    }

    p {
        font-family: $font1 !important;

        a {
            color: $black !important;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    article.bill-detail section.position h3 {
        color: #fff !important;
    }

    .panel {
        background: $green !important;
    }

    .alert-box {
        border-radius: 0 !important;
        border-color: $dark-blue !important;
        color: $black !important;
    }

    .person-result {
        .person-image > img {
            border: 2px solid #fff !important;
        }

        h4 {
            font-family: $font1;
            font-weight: bold !important;
            color: $black !important;
        }

        .client-link-color {
            color: $black !important;
        }
    }

    .results-list {
        li a {
            font-family: $font1;
            font-weight: bold !important;
            color: $black !important;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    table.bio-section tbody tr td span.bio-list-value,
    table.election-section tbody tr td.election-list-value,
    table.candidate-section tbody tr td.candidate-list-value,
    table.candidate-section tbody tr td.candidate-list-label {
        color: $black !important;
    }
}

.engage-form {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $black !important;
    }
}

#engage-plugin-435549 article.bill-detail section.sponsors a,
#engage-plugin-435549 article.bill-detail section.cosponsors a {
    color: $black;

    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

#engage-plugin-434339 .person-result .person-image > img,
#engage-plugin-434339 .official-basics .person-image > img,
#engage-plugin-434339 .candidate-basics .person-image > img {
    width: 110px !important;
}

// IATS Donation
div.IATS_Div {
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;

    div.IATS_AmountDiv {
        border: none !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        tr td {
            width: inherit !important;
        }
    }

    span.IATS_AmountSectionTitle,
    span.IATS_PaymentSectionTitle {
        font-family: $font1 !important;
        font-size: 18px !important;
        color: $black !important;
        width: 100% !important;
    }

    #IATS_AmountSectionDiv {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    div.IATS_AmountItemDiv,
    div.IATS_ProfileItemDiv,
    div.IATS_ResponseItemDiv {
        border: none !important;

        table,
        tr {
            border: none !important;

            td,
            th {
                padding: 0 !important;
            }
        }
    }

    div.IATS_AmountItemDiv {
        width: 100% !important;
        @include bp-md {
            width: 50% !important;
        }
    }

    input[type='text'],
    input.IATS_PaymentInputField,
    textarea.IATS_PaymentInputField,
    .IATS_OtherAmount,
    .IATS_AccountNumberField,
    select {
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 10px !important;
        border: 1px solid $dark-blue !important;
    }

    select {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAxMiA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA1OCAoODQ2NjMpIC0gaHR0cHM6Ly9za2V0Y2guY29tIC0tPgogICAgPHRpdGxlPlBhdGggMjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJTdHlsZS1HdWlkZSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkJ1dHRvbnMtJmFtcDstQ29tcG9uZW50cyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEwNTkuMDAwMDAwLCAtMjA5Ni4wMDAwMDApIiBmaWxsPSIjMDAzMzREIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgtMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTA2NS4wMDAwMDAsIDIwOTkuNTAwMDAwKSByb3RhdGUoLTM2MC4wMDAwMDApIHRyYW5zbGF0ZSgtMTA2NS4wMDAwMDAsIC0yMDk5LjUwMDAwMCkgIiBwb2ludHM9IjEwNTkgMjA5NiAxMDcxIDIwOTYgMTA2NSAyMTAzIj48L3BvbHlnb24+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=) !important;
        background-repeat: no-repeat !important;
        background-position: right 10px center !important;
    }

    span.IATS_Action {
        text-align: left !important;
    }

    #IATS_ProcessAction_Button,
    button.IATS_Action {
        background: $dark-blue !important;
        border: 2px solid $dark-blue !important;
        border-radius: 25px !important;
        padding: 14px 45px !important;
        color: #fff;
        @include font-size(12px);
        line-height: pxtorem(16px);
        font-weight: bold !important;
        text-transform: uppercase !important;
        text-decoration: none !important;
        background-color: $dark-blue !important;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
            color: #fff !important;
            background-color: $green !important;
            border-color: $green !important;
            outline: none !important;
        }
    }
}

// Gravity Forms
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type='submit'],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type='submit'] {
    font-size: 12px !important;
}

// Form Assembly
.wFormContainer {
    font-family: $font1 !important;

    p.supportInfo {
        padding: 0 !important;
        margin: 0 !important;
    }

    .inputWrapper {
        select {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAxMiA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA1OCAoODQ2NjMpIC0gaHR0cHM6Ly9za2V0Y2guY29tIC0tPgogICAgPHRpdGxlPlBhdGggMjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJTdHlsZS1HdWlkZSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkJ1dHRvbnMtJmFtcDstQ29tcG9uZW50cyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEwNTkuMDAwMDAwLCAtMjA5Ni4wMDAwMDApIiBmaWxsPSIjMDAzMzREIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgtMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTA2NS4wMDAwMDAsIDIwOTkuNTAwMDAwKSByb3RhdGUoLTM2MC4wMDAwMDApIHRyYW5zbGF0ZSgtMTA2NS4wMDAwMDAsIC0yMDk5LjUwMDAwMCkgIiBwb2ludHM9IjEwNTkgMjA5NiAxMDcxIDIwOTYgMTA2NSAyMTAzIj48L3BvbHlnb24+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=) !important;
            background-repeat: no-repeat !important;
            background-color: #fff !important;
            background-position: right 10px center !important;
            border-radius: 0 !important;
            border: 1px solid $dark-blue !important;
            padding: 10px !important;
            font-size: 16px !important;
            height: inherit !important;
        }
    }
}
.wFormContainer .label {
    display: block !important;
    font-weight: bold !important;
}

.wForm .inputWrapper {
    width: 100% !important;
}

.wFormContainer .wForm form {
    padding: 0 !important;
}

.wFormContainer .wForm .inputWrapper input[type='text'],
.wFormContainer .wForm .inputWrapper input[type='password'],
.wFormContainer .wForm .inputWrapper select,
.wFormContainer .wForm .inputWrapper textarea {
    width: 100% !important;
    border-radius: 0 !important;
}

.wFormContainer .actions .primaryAction {
    border: 2px solid $dark-blue !important;
    border-radius: 25px !important;
    padding: 14px 45px !important;
    color: #fff !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    background-color: $dark-blue !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;

    &:hover,
    &:focus {
        color: #fff !important;
        background-color: $green !important;
        border-color: $green !important;
        outline: none !important;
    }
}

// WP Notification Bars
.mtsnb .mtsnb-button {
    border-radius: 30px;
}
