.no-masthead {
    .wrap.container {
        padding-top: 100px;
    }
}

#main-content {
    padding: 100px 0;

    &:focus {
        outline: none;
    }

    .error404 & {
        padding: 0;
    }
}
