// Include Single Post page styles and list item styles
// Clone this for unique post types

.single__header {
    background: $light-blue;
    padding-top: 220px;
    padding-bottom: 35px;

    .post-label {
        margin-bottom: 30px;
    }

    .single-event & {
        .post-label {
            margin-bottom: 0;
        }
    }
}

.single {
    #main-content {
        padding-top: 0;
    }

    .entry-content {
        padding: 80px 0;

        .lg-67 {
            position: relative;
        }
    }

    &__featured-image {
        margin-bottom: 30px;
    }
}

.social-sharing {
    list-style-type: none;
    margin: 0;
    margin-top: 0 !important;
    padding: 0;
    text-align: center;

    &-container {
        position: absolute;
        top: 0;
        left: -50px;
    }

    &__item {
        margin-bottom: 20px;

        a {
            text-decoration: none !important;
        }
    }
}

.related-posts {
    padding: 70px 0;
    background: $blue-gray;
    margin-bottom: -100px;

    &__heading {
        margin-bottom: 40px;
    }
}

.single-person {
    #main-content {
        padding-bottom: 0;
    }

    &__meta {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 45px 0;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid $stroke;
        @include fluid-value(font-size, 14px, 18px);
        @include fluid-value(line-height, 24px, 28px);

        a {
            color: $black;
        }

        i {
            @include font-size(23px);
            color: $blue;
            margin-right: 15px;
        }

        &-social {
            display: flex;
            justify-content: center;
        }

        &-email {
            a {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.recent-posts {
    padding: 80px 0;
    background: $blue-gray;
}

.single-event-details {
    &__section {
        margin-bottom: 30px;

        p {
            margin-bottom: 0;
        }
    }

    &__label {
        margin-bottom: 0;
    }
}
