.masthead {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: $blue-gray;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-align: center;
  @include bp-lg {
    padding-top: 265px;
  }

  &--has-img {
    padding-bottom: 115px;

    @include bp-sm {
      padding-bottom: 165px;
    }

    @include bp-md {
      padding-bottom: 240px;
    }
    @include bp-lg {
      padding-bottom: 300px;
    }

    @include bp-xl {
      padding-bottom: 400px;
    }
  }

  .template-top-level & {
    &.masthead {
      &--has-img {
        padding-bottom: 100px;
        color: #fff;
        justify-content: flex-end;

        @include bp-md {
          height: 75vh;
        }

        &::before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(#000, 0.8) 100%
          );
        }
      }
    }
    @include bp-lg {
      min-height: 700px;
      padding-top: 400px;
      padding-bottom: 100px;
    }
  }

  .emergency-alert.food-access-network & {
    padding-bottom: 250px;
    @include bp-lg {
      padding-bottom: 300px;
    }
  }

  :last-child {
    margin-bottom: 0;
  }

  &__overlay {
    position: absolute;
    // negative margins to retain sharp edges
    $blur: 10px;
    top: -$blur;
    bottom: -$blur;
    left: -$blur;
    right: -$blur;
    opacity: 1;
    transition: opacity 1s linear;
    filter: blur($blur);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.fade-out {
      // JS class added after full size image is loaded
      opacity: 0;
    }
  }

  &__content {
    position: relative;
  }

  &__image {
    position: relative;
    z-index: 1;
    transform: translateY(-50%);
    margin-bottom: -160px;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
    @include bp-sm {
      max-width: 568px;
      margin-bottom: -136px;
    }
    @include bp-md {
      max-width: 768px;
      margin-bottom: -240px;
    }
    @include bp-lg {
      max-width: 1024px;
      margin-bottom: -280px;
    }
    @include bp-xl {
      max-width: 1200px;
      margin-bottom: -340px;
    }

    .img-cover {
      &::before {
        padding-top: 48%;
      }

      img {
        height: 100%;
        width: auto;
      }
      @include bp-lg {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  &__down-arrow {
    display: block;
    width: 40px;
    height: 40px;
    background: $red;
    border-radius: 50%;
    margin-top: -20px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      outline: none;
      background-color: darken($red, 15%);
    }

    svg {
      position: absolute;
      width: 40px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%);
      @include bp-md {
        width: 64px;
        height: 23px;
      }
    }
    @include bp-md {
      margin-top: -32px;
      width: 64px;
      height: 64px;
      margin-bottom: 0;
    }
  }
}

.home,
.error404 {
  .masthead {
    &--has-img {
      color: #fff;
    }

    .page-title {
      color: $green;
    }
  }
}

.home {
  .masthead {
    &--has-img {
      padding-bottom: 330px;

      @include bp-lg {
        padding-bottom: 450px;
      }
    }
  }
}

.blog {
  .masthead {
    &--has-img {
      @include bp-lg {
        padding-bottom: 100px;
      }
    }
  }
}

.blog {
  &.blog-featured-post {
    .masthead {
      padding-bottom: 250px;

      @include bp-lg {
        padding-bottom: 400px;
      }
    }
  }
}

.archive {
  &.blog-featured-post {
    .masthead {
      padding-bottom: 250px;

      @include bp-lg {
        padding-bottom: 200px;
      }
    }
  }
}

.events {
  &.events-featured-post {
    .masthead {
      padding-bottom: 400px;
    }
  }

  .featured-post {
    margin-top: -400px;
    margin-bottom: 60px;
  }
}

.resources {
  .masthead {
    color: #fff;
    @include bp-lg {
      justify-content: flex-end;
      min-height: 750px;
      padding-bottom: 100px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(#000000, 0.7) 100%
      );
    }
  }
}

.single-person {
  .masthead--has-img {
    @include bp-lg {
      padding-bottom: 320px;
    }
  }
  .masthead {
    &__image {
      max-width: 250px;
      margin-bottom: -120px;
      width: calc(100% - 60px);
      margin-left: auto;
      margin-right: auto;

      @include bp-lg {
        max-width: 500px;
        margin-bottom: -200px;
      }

      .img-cover {
        &::before {
          padding-top: 100%;
        }

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
