.sidebar-nav {
    @include bp-lg {
        width: 240px;
    }

    &--fixed {
        position: fixed;
        top: 175px;
    }

    &--absolute {
        position: absolute;
        top: unset;
        bottom: 0;
    }

    &--wide {
        @include bp-lg {
            width: 300px;
        }
    }
    &-container {
        position: relative;
    }
}
