/** Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.no-js {
    .js-hide {
        display: inline-block !important;
    }

    .no-js-hide {
        display: none !important;
    }
}

.js-hide {
    display: none !important;
}

.mobile-hide {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main-content .text-white {
    color: #fff;
    p,
    p a:not(.btn),
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

#main-content a.text-white,
.text-white a:not(.btn) {
    color: #fff;
    text-decoration: underline;

    &:hover {
        color: #fff;
        opacity: 0.7;
    }
}

.text-center {
    display: block;
    text-align: center;
}

.overlay {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }

    > * {
        position: relative;
        z-index: 1;
    }
}

// Skip to content link
// for accessibility
#skip-to-content {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 23px 14px;
    color: #fff;
    background: $highlight;
    z-index: 100000;
    opacity: 0;
    transform: translateY(-100%);

    &:focus,
    &:active {
        opacity: 1;
        transform: translateY(0);
    }
}

// Size Utilities
$sizes: 0, 20, 40, 60, 80, 100, 120, 150, 200;

// Default
@each $size in $sizes {
    .p-t-#{$size} {
        padding-top: #{$size}px !important;
    }

    .p-b-#{$size} {
        padding-bottom: #{$size}px;
    }

    .m-t-#{$size} {
        margin-top: #{$size}px;
    }

    .m-b-#{$size} {
        margin-bottom: #{$size}px;
    }
}

// Small
@each $size in $sizes {
    .sm-p-t-#{$size} {
        @include bp-sm {
            padding-top: #{$size}px !important;
        }
    }

    .sm-p-b-#{$size} {
        @include bp-sm {
            padding-bottom: #{$size}px;
        }
    }

    .sm-m-t-#{$size} {
        @include bp-sm {
            margin-top: #{$size}px;
        }
    }

    .sm-m-b-#{$size} {
        @include bp-sm {
            margin-bottom: #{$size}px;
        }
    }
}

// Medium
@each $size in $sizes {
    .md-p-t-#{$size} {
        @include bp-md {
            padding-top: #{$size}px !important;
        }
    }

    .md-p-b-#{$size} {
        @include bp-md {
            padding-bottom: #{$size}px;
        }
    }

    .md-m-t-#{$size} {
        @include bp-md {
            margin-top: #{$size}px;
        }
    }

    .md-m-b-#{$size} {
        @include bp-md {
            margin-bottom: #{$size}px;
        }
    }
}

// Large
@each $size in $sizes {
    .lg-p-t-#{$size} {
        @include bp-lg {
            padding-top: #{$size}px !important;
        }
    }

    .lg-p-b-#{$size} {
        @include bp-lg {
            padding-bottom: #{$size}px;
        }
    }

    .lg-m-t-#{$size} {
        @include bp-lg {
            margin-top: #{$size}px;
        }
    }

    .lg-m-b-#{$size} {
        @include bp-lg {
            margin-bottom: #{$size}px;
        }
    }
}

// X Large
@each $size in $sizes {
    .xl-p-t-#{$size} {
        @include bp-xl {
            padding-top: #{$size}px !important;
        }
    }

    .xl-p-b-#{$size} {
        @include bp-xl {
            padding-bottom: #{$size}px;
        }
    }

    .xl-m-t-#{$size} {
        @include bp-xl {
            margin-top: #{$size}px;
        }
    }

    .xl-m-b-#{$size} {
        @include bp-xl {
            margin-bottom: #{$size}px;
        }
    }
}

.vc_column_container {
    // Default
    @each $size in $sizes {
        &.m-r-#{$size} {
            margin-right: #{$size}px;
        }

        &.m-l-#{$size} {
            margin-left: #{$size}px;
        }
    }
    // Small
    @each $size in $sizes {
        &.sm-m-r-#{$size} {
            .vc_column-inner {
                @include bp-sm {
                    margin-right: #{$size}px;
                }
            }
        }
        &.sm-m-l-#{$size} {
            .vc_column-inner {
                @include bp-sm {
                    margin-left: #{$size}px;
                }
            }
        }
    }
    // Medium
    @each $size in $sizes {
        &.md-m-r-#{$size} {
            .vc_column-inner {
                @include bp-md {
                    margin-right: #{$size}px;
                }
            }
        }

        &.md-m-l-#{$size} {
            .vc_column-inner {
                @include bp-md {
                    margin-left: #{$size}px;
                }
            }
        }
    }
    // Large
    @each $size in $sizes {
        &.lg-m-r-#{$size} {
            .vc_column-inner {
                @include bp-lg {
                    margin-right: #{$size}px;
                }
            }
        }

        &.lg-m-l-#{$size} {
            .vc_column-inner {
                @include bp-lg {
                    margin-left: #{$size}px;
                }
            }
        }
    }
    // X Large
    @each $size in $sizes {
        &.xl-m-r-#{$size} {
            .vc_column-inner {
                @include bp-xl {
                    margin-right: #{$size}px;
                }
            }
        }

        &.xl-m-l-#{$size} {
            .vc_column-inner {
                @include bp-xl {
                    margin-left: #{$size}px;
                }
            }
        }
    }
}
